@font-face {
    font-family: Roboto;
    src: url(./assets/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 100vh;
    display: grid;
    grid-template: auto 1fr / minmax(min-content, 1fr) minmax(750px, 4fr);
    background-color: rgb(226, 232, 240);
}

.sidebar {
    grid-row: span 2;
    color: white;
    background-color: rgb(25, 146, 212);
    font-size: 20px;
    font-weight: bold;
    padding: 5px 15px;

    &>* {
        padding: 15px 0;
    }
}

.logo,
.menu-item {
    display: grid;
    grid-template-columns: 48px minmax(150px, 1fr);
    align-items: center;
    gap: 10px;
}

.logo {
    font-size: 26px;
    font-weight: bold;

    & img {
        width: 48px;
        height: 48px;
    }
}

ul {
    list-style-type: none;

    & li {
        margin: 15px 0;
    }
}

.menu-item {
    height: 32px;

    & img {
        width: 24px;
        height: 24px;
        align-self: auto;
        justify-self: center;
        margin-bottom: 3px;
    }

    & a {
        transition: font-size .2s ease;
    }
    
    & a:hover {
        font-size: 23px;
        transition: font-size .1s ease;
    }
}

.shadow {
    box-shadow: 5px 5px 5px rgb(210, 210, 210);
}

.header {
    padding: 8px 25px 8px 20px;
    background-color: white;

    &>* {
        padding: 10px 30px 10px 20px;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr auto auto auto;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }
}

.top {
    margin-bottom: 10px;

    & img,
    & input[type=image] {
        width: 24px;
        height: 24px;
    }

    & img.avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    & .user-name {
        font-size: 17px;
        padding-right: 20px;
        font-weight: bold;
    }
}

.search-bar {
    display: grid;
    grid-template-columns: auto clamp(400px, 75%, 750px);
    justify-content: start;
    align-items: center;
    gap: 10px;

    & input[type=text] {
        font-size: 16px;
        height: 30px;
        padding: 0 14px;
        background-color: rgb(226, 232, 240);
        border-radius: 15px;
        border: none;
        outline: none;
    }
}

.user-card {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    font-size: 22px;
    font-weight: bold;

    & .hello {
        font-size: 12px;
        margin-bottom: 7px;
    }

    & img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
}

a.btn {
    font-size: 15px;
    font-weight: bold;   
    color: white;
    background-color: rgb(25, 146, 212);
    border-radius: 20px;
    line-height: 36px;
    width: 95px;
    text-align: center;
}

.main {
    padding: 20px;
    padding-right: 25px;
    display: grid;
    grid-template: auto 1fr / 3fr 1fr;
    gap: 20px;
}

.section {
    & .title {
        font-weight: bold;
    }

    &>.title {
        margin: 10px 0;
        min-width: 200px;
    }

    & .card {
        background-color: white;
        border-radius: 10px;
    }
}

.projects {
    grid-row: span 2;

    & .content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 25px;
    }

    & .card {
        height: 220px;
        border-left: 10px solid rgb(240, 180, 41);
    }

    & .card>* {
        margin: 15px;
    }
}

.entry,
.trend {
    padding: 15px;
}

.trend {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;

    & img {
        width: 40px;
        height: 40px;
        border: 1px dashed black;
        border-radius: 50%;
    }
}

.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* body>*>* {
    border: 1px solid red;

    &>* {
        border: 1px solid blue;
    }

    &>*>* {
        border: 1px solid black;
    }

    &>*>*>* {
        border: 1px solid orange;
    }

    &>*>*>*>* {
        border: 1px solid aqua;
    }
} */